<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js"> <![endif]-->
    <head>
        {{ theme:partial name="header" }}
    </head>
    <body>

        {{ theme:partial name="menu" }}

        {{ theme:partial name="splash" }}

        <div class="main-holder">
            <div class="row content-holder">

                <div class="border no-margin group">

                        <div class="small-12 columns border--bottom border--bottom__title">

                            <div class="headers--center">
                                <h3 class="no-margin headers--title">Development<span class="headers--span">&amp;</span>Consultancy</h3>
                            </div>

                        </div>

                </div>


                <div class="small-12 columns large-centered content">

                    {{ template:body }}

                </div>

            </div>

            <div class="row island">
                <div class="small-12 large-8 columns large-centered text-center">

                    <a href="{{ url:site uri='hire' }}" title="Hire Us" class="large button action--call no-margin"><span>Sound like we can help?</span><br/>click here to get in touch.</a>

                </div>
            </div>


            <!-- {{ theme:partial name="testimonials" }} -->

            {{ theme:partial name="clients" }}

            {{ theme:partial name="footer" }}

        </div>

        {{ theme:partial name="javascripts" }}

    </body>
</html>