<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js"> <![endif]-->
<head>
    {{ theme:partial name="header" }}
</head>
<body>

{{ theme:partial name="menu" }}

{{ theme:partial name="splash" }}

<div class="main-holder">

    <div class="row content-holder island">

        <div class="border no-margin group">

            <div class="small-12 columns border--bottom border--bottom__title">

                <div class="headers--center">
                    <h3 class="no-margin headers--title">4<span class="headers--span">0</span>4</h3>
                </div>

            </div>

        </div>


        <div class="small-12 columns content">

            {{ template:body }}

        </div>

    </div>

    {{ theme:partial name="footer" }}

</div>

{{ theme:partial name="javascripts" }}

</body>
</html>