<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js"> <![endif]-->
    <head>
        {{ theme:partial name="header" }}
    </head>
    <body>

        {{ theme:partial name="menu" }}

        {{ theme:partial name="splash" }}

        <div class="main-holder">

            <div class="row content-holder island">

                <div class="border no-margin group">

                        <div class="small-12 columns border--bottom border--bottom__title">

                            <div class="headers--center">
                                <h3 class="no-margin headers--title">Dependable&nbsp;&nbsp;Advice<span class="headers--span">&amp;</span>Competitive&nbsp;&nbsp;Rates</h3>
                            </div>

                        </div>

                </div>


                <div class="small-12 large-6 columns content-single">

                    {{ template:body }}

                </div>

                <div class="small-12 large-6 columns">

                    <div class="callout">
                        <div class="callout--content">
                            <p>For general enquiries (or just to say hello!):<br/><span>e.&nbsp;<a href="mailto:hello@digitalwrench.co.uk" title="Contact Us">hello@digitalwrench.co.uk</a></span></p>
                        </div>
                    </div>

                    <div class="callout">
                        <div class="callout--content">
                            <p>For existing clients:<br/><span>e.&nbsp;<a href="mailto:support@digitalwrench.co.uk" title="Contact Support">support@digitalwrench.co.uk</a></span></p>
                            <p>Or visit our support site:<br/><span><a href="http://digitalwrench.zendesk.com" title="Zendesk support site" target="_blank">digitalwrench.zendesk.com</a></span></p>
                        </div>
                    </div>

                </div>

            </div>


            {{ theme:partial name="services" }}

            {{ theme:partial name="footer" }}

        </div>

        {{ theme:partial name="javascripts" }}

    </body>
</html>