<!DOCTYPE html>
<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js"> <![endif]-->
        {{ theme:partial name="header" }}
    </head>
    <body>

        {{ theme:partial name="menu" }}

        {{ theme:partial name="splash" }}


        <div class="main-holder">

            <div class="row content-holder island">

                <div class="border no-margin group">

                        <div class="small-12 columns border--bottom border--bottom__title">

                            <div class="headers--center">
                                <h3 class="no-margin headers--title">Frontend<span class="headers--span">&amp;</span>Backend</h3>
                            </div>

                        </div>

                </div>


                <div class="small-12 columns content">

                    {{ template:body }}

                </div>

            </div>

            {{ theme:partial name="skillsbar" }}

            <div class="row island">
                <div class="small-12 large-centered columns group text-center">

                        <a href="https://bitbucket.org/digitalwrench" title="Visit our BitBucket account" class="bitbucket-link" target="_blank">View our opensource projects and example code on BitBucket</a>

                </div>
            </div>

            {{ theme:partial name="tools" }}

            <div class="row island">
                <div class="small-12 large-8 columns large-centered text-center">

                    <a href="{{ url:site uri='hire' }}" title="Hire Us" class="large button action--info no-margin"><span>Want to find out more?</span><br/>click here to get in touch.</a>

                </div>
            </div>


            {{ theme:partial name="footer" }}

        </div>

        {{ theme:partial name="javascripts" }}

    </body>
</html>