@font-face {
  font-family: 'bebasregular';
  src: url('fonts/bebas___-webfont.eot');
  src: url('fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/bebas___-webfont.woff') format('woff'),
  url('fonts/bebas___-webfont.ttf') format('truetype'),
  url('fonts/bebas___-webfont.svg#bebasregular') format('svg');
}

@font-face {
  font-family: 'big_caslonmedium';
  src: url('fonts/big_caslon_medium-webfont.eot');
  src: url('fonts/big_caslon_medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/big_caslon_medium-webfont.woff') format('woff'),
  url('fonts/big_caslon_medium-webfont.ttf') format('truetype'),
  url('fonts/big_caslon_medium-webfont.svg#big_caslonmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}