//fixes the grid for IE8 (see https://gist.github.com/hatefulcrawdad/5068210)
@import "ie-fix";

// Set to include Media queries or not (_settings.scss line 142)
$MQs: false;

// Compass Includes
@import "compass/typography/vertical_rhythm";

@import "compass/css3/columns";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/filter";

@import "compass/utilities/sprites";

//include fonts
@import "fonts";

//include sprites
@import "clients/*.png";
@import "tools/*.png";


// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
//@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
@import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";








/************
//
// General styles for all breakpoints
//
/************/

// Setting up Vertical Rhythm


body
  {
  //@include debug-vertical-alignment();
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-text-size-adjust: none;
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,
.row,.border
  {
  margin-top: 0;
  margin-bottom: rhythm(1);
}

a
  {
  color: $secondary-color;
}

.island
  {
  margin-bottom: rhythm(3);
}

.no-margin
  {
  margin-bottom: 0;
}

.text-center
  {
  text-align: center;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.right-to-left
  {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.hide-for-mobile
  {

  display: none;



  //media queries
  @include bp(small){
    display:block;
  }

}

/************
//
//   Load component modules
//
/************/

@import "states/states";

@import "module/splash";
@import "module/logo";
@import "module/menu";
@import "module/border";
@import "module/action";
@import "module/testimonial";
@import "module/headers";
@import "module/callout";
@import "module/services";
@import "module/client";
@import "module/tool";
@import "module/skills-bar";
@import "module/footer";
@import "module/ie-warning";

/************
//
//   Start basic layout styles
//
/************/



//*********** Header

.header
  {
  background-color: $background-color;
  color: $secondary-body-font-color;
}

//*********** Generic content


.content-holder
  {
  overflow: hidden;
  padding-top: rhythm(3);
  margin-bottom: rhythm(2);
}

.content
  {

  text-align: center;



  //media queries
  @include bp(small){
    @include column-count(1);
  }
}

.content,
.content-single
  {

  p
    {
    font-family: $body-font-family;

    @include adjust-font-size-to(13px);
    margin-bottom: rhythm(1);

    @include bp(small){
      @include adjust-font-size-to(14px);
    }

    @include bp(small-medium){
      @include adjust-font-size-to(16px);
    }

  }

  h3
    {
    font-family: $body-font-family;
    text-align: center;
    color: $body-font-color;

    @include adjust-font-size-to(15px);

    @include bp(small-medium){
      @include adjust-font-size-to(18px);
    }

    @include bp(medium){
      @include adjust-font-size-to(20px);
    }
  }

}

.content-single
  {
  @include column-count(1);
}



.bitbucket-link
  {
  display: inline-block;
  padding: 10px 0px 0px 130px;
  background-image: url("../img/bitbucket.png");
  background-repeat: no-repeat;
  background-position: left center;

  @include bp(mobile){
    padding: 20px 0px 0px 130px;
  }
}



// IE < 8 specific fixes

$min-width: 990px;
$min-total-width: 1024px;

.row
  {
  min-width: $min-width;
}

.splash,
.banner,
.border,
.border--bottom,
.border--bottom__title,
.footer,
.skills-bar,
.service--text,
.testimonial
  {
  min-width: $min-total-width;
  margin-left: 0;
  margin-right: 0;
}

.testimonial--quote,
.testimonial--cite,
.skills-bar--bar
  {
  min-width: 0px;
}




.service--text
  {
  width: 100% !important;
}


.footer--comment
  {
  min-heght: 1px;
}


.logo--splash
  {
  position: static;
  margin-left: 0;
  left: 0;
}



.lt-ie8
{
  .splash
    {
    background-color: #000082;
    background-image: url("../img/bsod.png");
    background-position: top center;
    background-repeat: no-repeat;

  }

  .ie
    {
    display: block;
  }
}