
.action
  {
  text-transform: uppercase;
  padding: rhythm(1),rhythm(2);
  font-weight: normal;
  border: none;
  font-size: 0.85em !important;


  span
    {
    font-weight: bold;
  }


  //media queries
  @include bp(mobile) {
    font-size: 1.5em !important;
  }

  @include bp(small) {
    font-size: 1.85em !important;
  }



}

.action--call
  {
  @extend .action;
  background-color: $primary-color;
}

.action--call:hover
  {
  background-color: lighten($primary-color, 10);

}

.action--info
  {
  @extend .action;
  background-color: $secondary-color;
}

.action--info:hover
  {
  background-color: lighten($secondary-color, 10);
}

//states
