
.border
  {
  background-image: url('../img/border.gif');
  background-repeat: repeat-x;
  background-position: top left;
}

.border--bottom
  {
  @extend .border;
  background-position: bottom left;
  margin-bottom: rhythm(3);

}

.border--bottom__title
    {



  //media queries
  @include bp(small) {
    height: 65px;
  }

  @include bp(medium) {
      height: 80px;
  }

}


//states

.is--normal--header
  {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 8px;
}


