.callout
  {
    @include panel($info-color);
    padding: rhythm(1) rhythm(1) 0 rhythm(1) !important;


    //media queries
    @include bp(mobile) {
      padding: rhythm(1) rhythm(2) 0 rhythm(2) !important;
    }

}

.callout--content
  {

    p
      {
      @include adjust-font-size-to(12px,1);
      color: #ffffff;
      @include margin-trailer(1);
    }

    span
      {
      font-weight: bold;
      @include adjust-font-size-to(20px, 1);

    }

    a
      {
      color: #ffffff;
    }



    //media queries
    @include bp(mobile) {
        p
          {
          @include adjust-font-size-to(16px,1);
        }
    }

}