.client
  {
  text-align: center;
}

.client--item
  {
  display: block;
  width: 150px;
  height: 134px;
  margin: 0px auto 0px auto;
  @include transition-property(background);
  @include transition-duration(1s);
}



//sprite references

.aandk
  {
  @include clients-sprite('abercrombie-and-kent-over');
}
.aandk:hover
  {
  @include clients-sprite('abercrombie-and-kent');
}

.endsleigh
  {
  @include clients-sprite('endsleigh-over');
}
.endsleigh:hover
  {
  @include clients-sprite('endsleigh');
}

.money
  {
  @include clients-sprite('money-over');
}
.money:hover
  {
  @include clients-sprite('money');
}

.rolls
  {
  @include clients-sprite('rolls-royce-over');
}
.rolls:hover
  {
  @include clients-sprite('rolls-royce');
}

.sd
  {
  @include clients-sprite('the-sound-doctor-over');
}
.sd:hover
  {
  @include clients-sprite('the-sound-doctor');
}

.az
  {
  @include clients-sprite('astrazeneca-over');
}
.az:hover
  {
  @include clients-sprite('astrazeneca');
}

.deloitte
  {
  @include clients-sprite('deloitte-over');
}
.deloitte:hover
  {
  @include clients-sprite('deloitte');
}

.loreal
  {
  @include clients-sprite('loreal-over');
}
.loreal:hover
  {
  @include clients-sprite('loreal');
}

.coors
  {
  @include clients-sprite('molson-coors-over');
}
.coors:hover
  {
  @include clients-sprite('molson-coors');
}

.pru
  {
  @include clients-sprite('prudential-over');
}
.pru:hover
  {
  @include clients-sprite('prudential');
}