.footer
  {
  background-color: $background-color;
  padding-top: rhythm(2);
  padding-bottom: rhythm(1);
  color: $secondary-body-font-color;
}

.footer--picture
  {
  text-align: center;

  img
    {
    @include transform(scale(0));
    @include transition(all .5s ease-out);
  }


  //media queries
  @include bp(mobile){
    padding-top: 10px;
  }

  @include bp(small){
    padding-top: 30px;
  }

}

.footer--comment
  {
  position: relative;
  background-color: #ffffff;
  color: $body-font-color;
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);
  @include adjust-font-size-to(13px);
  @include margin-leader(1);



  //media queries
  @include bp(small){
    @include margin-leader(0);
  }

  @include bp(small-medium){
    @include margin-leader(1);
  }

}

.footer--comment__arrow
  {
  position: absolute;
  width:42px;
  height: 21px;
  left: 45%;
  top: -17px;
  background-image: url("../img/arrow-top.png");
  background-repeat: no-repeat;
  background-position: 0 0;



  //media queries
  @include bp(mobile){
    left: 47%;
  }

  @include bp(small){
    left: -17px;
    top: 40%;
    width:17px;
    height: 33px;
    background-image: url("../img/arrow.png");
  }


}



.footer--signature
  {
  color: $secondary-color;
  text-align: right;
  font-weight: bold;
}

.footer--contact
  {
  text-align: right;
  @include adjust-font-size-to(14px);

  a
    {
    color: $secondary-body-font-color;
  }

}

.footer--location
  {
  @include adjust-font-size-to(26px);
  color: $secondary-body-font-color;



  //media queries
  @include bp(mobile){
    @include adjust-font-size-to(30px);
  }

}


//states
.is--scaled
  {
  @include transform(scale(1) !important);
}

