.headers
  {
  color: $body-font-color;
  @include adjust-font-size-to(40px);
  text-transform: uppercase;
}

.headers--title
  {
  @extend .headers;

  @include adjust-font-size-to(38px);
  text-align: center;



  //media queries
  @include bp(mobile) {
    @include adjust-font-size-to(50px);
  }

  @include bp(small) {
    position: relative;
    @include adjust-font-size-to(48px);
    text-align: left;
    top: -54px;
    left: -50%;
    height: 110px; //hides the & background colour for the bottom border
    overflow: hidden;
  }

  @include bp(medium) {
    @include adjust-font-size-to(60px);
    top: -68px;
    left: -50%;
    height: 135px; //hides the & background colour for the bottom border
  }


}

.headers--span
  {
    font-family: 'big_caslonmedium', Helvetica, Arial, sans-serif;
    @include adjust-font-size-to(20px);
    display: block;
    color: $primary-color;
    background-color: #fff;
    padding: 0px 10px 0px 10px;
    font-weight: normal;


    //media queries
    @include bp(small) {
      @include adjust-font-size-to(33px);
      display: inline;
    }

  @include bp(medium) {
      @include adjust-font-size-to(32px);
  }

}


.headers--center
  {


    //media queries
    @include bp(small) {
      position: absolute;
      left: 50%;
    }

}








