.logo
  {
  color: $header-font-color;
  font-family: $header-font-family;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  a
    {
    color: #ffffff;
  }
}

.logo--menu
  {
  @extend .logo;
  @include adjust-font-size-to(30px);
  line-height: 1em;
  @include padding-leader(0);
  @include padding-trailer(0);
  margin: 12px 0 0 0;
  @include transition(margin-left 0.3s linear);


  //media queries
  @include bp(small){
    margin-top: 12px !important;
  }


}

.logo--splash
  {
  @extend .logo;
  @include adjust-font-size-to(90px);
  @include padding-leader(0.75);
  @include padding-trailer(0);
  margin: 0;
  @include transition-property(all);
  @include transition-duration(5s);
  position: absolute;
  left: 50%;
  margin-left: -126px;


  //media queries
  @include bp(small){
    @include adjust-font-size-to(180px);
    @include padding-leader(0.6);
    position: fixed;
    margin-left: -230px;
  }

}

.logo--footer
  {
  @extend .logo;
  @include adjust-font-size-to(30px);
  @include padding-trailer(.5);
  margin: 0;
}


//states

.is--blurred
  {
  @include filter(blur(30px));
}

.is--sliding
  {
  margin-left: -300px !important;
}