.menu
  {
    list-style: none;
    width: 100%;

  a{
    color: $secondary-body-font-color;
  }

  a:hover
    {
    color: $primary-color;
  }

  .current
    {
    color: $primary-color;
  }
}

.menu--fixed
  {


  //media queries
  @include bp(mobile){
      width: 100%;
      left: 0;
      position: fixed;
      top: 0;
      z-index: 99;
  }

  @include bp(portrait){
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99;
  }


}

.menu--header
  {
  @extend .menu;
  padding: 25px 0px 0px 15px;
  @include adjust-font-size-to(15px);
  line-height: 1em;

  //media queries
  @include bp(small){
    padding: 25px 0px 0px 15px !important;
  }

}

.menu--header__links
  {
  display: inline-block;
}

.menu--holder
  {
  overflow: hidden;
  padding-bottom: 10px;
}


.menu--contact
  {
  text-align: right;
  padding: 23px 0px 0px 0px;
  @include adjust-font-size-to(9px);

  a
    {
    color: $secondary-body-font-color;
  }

  //media queries
  @include bp(small){
    @include adjust-font-size-to(15px);
  }
}





//states

