.services
  {
  @include block-grid(1, em-calc(20));


  //media queries
  @include bp(small){

    @include block-grid(2, em-calc(20));

  }

  @include bp(small-medium){
    @include block-grid(3, em-calc(20));
  }



}

.services--holder
  {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  span
    {
    display: block;
    background-color: $secondary-color;
    padding: rhythm(1);
  }



  //media queries
  @include bp(mobile){

    span
      {
      padding: rhythm(0.5);
    }

  }

  @include bp(small){

    span
      {
      padding: rhythm(1);
    }

  }



}

.service--text
  {
  @include adjust-font-size-to(13px);
  text-align: center;

  span
    {
    color: $secondary-color;
  }

}
