.skills-bar
  {
  background-color: $secondary-background-color;
  padding: rhythm(1) rhythm(1) 0 rhythm(1);
  @include margin-trailer(1);
}

.skills-bar--bar
  {
  @include margin-trailer(1);
}

.skills-bar--span
  {
  display: block;
  height: rhythm(1.5);
  padding: rhythm(.25) rhythm(1) rhythm(1.5) rhythm(1);
  color: #ffffff;
  font-family: $header-font-family;
  @include adjust-font-size-to(18px);
  line-height: rhythm(1.25);
  background-color: $info-color;
  @include transition(width 4s ease-out, color 6s linear);
  overflow: hidden;
}


.is--100-percent
  {
  width: 100%;
}

.is--80-percent
  {
  width: 80%;
}

.is--20-percent
  {
  display: none;



  //media queries
  @include bp(mobile){
    width: 22%;
    display: block;
  }

  @include bp(small){
    width: 22%;
    display: block;
  }


}

.is--0-percent
  {
  width: 1% !important;
  color: $info-color !important;
}