.splash
  {
  background-color: $primary-color;
}

.splash--homepage
  {


  @extend .splash;
  min-height: 240px;
  text-align: center;
  overflow: hidden;


  //media queries
  @include bp(small){
    min-height: 490px;
  }


}

