.testimonial
  {
  background-color: $secondary-color;
  padding-top: rhythm(2);
  padding-bottom: rhythm(2);
}

.testimonial--item
  {
  text-align: center;
}


.testimonial--quote
  {
  @extend .testimonial;
  color: #ffffff;
  @include adjust-font-size-to(14px);
  font-style: oblique;

}

.testimonial--cite
  {
  @extend .testimonial;
  color: #ffffff;
  padding-top: 0;
  @include adjust-font-size-to(16px);
  font-weight: bold;
}

