.tool
  {
  text-align: center;
}

.tool--item
  {
  display: block;
  width: 150px;
  height: 134px;
  margin: 0px auto 0px auto;
  @include transition-property(background);
  @include transition-duration(1s);
}



//sprite references
.jira
  {
  @include tools-sprite('jira-over');
}
.jira:hover
  {
  @include tools-sprite('jira');
}

.bitbucket
  {
  @include tools-sprite('bitbucket-over');
}
.bitbucket:hover
  {
  @include tools-sprite('bitbucket');
}

.phpdoc
  {
  @include tools-sprite('phpdoc-over');
}
.phpdoc:hover
  {
  @include tools-sprite('phpdoc');
}

.composer
  {
  @include tools-sprite('composer-over');
}
.composer:hover
  {
  @include tools-sprite('composer');
}

.compass
  {
  @include tools-sprite('compass-over');
}
.compass:hover
  {
  @include tools-sprite('compass');
}

.sass
  {
  @include tools-sprite('sass-over');
}
.sass:hover
  {
  @include tools-sprite('sass');
}

.modernizr
  {
  @include tools-sprite('modernizr-over');
}
.modernizr:hover
  {
  @include tools-sprite('modernizr');
}

.require
  {
  @include tools-sprite('require-over');
}
.require:hover
  {
  @include tools-sprite('require');
}

.jquery
  {
  @include tools-sprite('jquery-over');
}
.jquery:hover
  {
  @include tools-sprite('jquery');
}

.git
  {
  @include tools-sprite('git-over');
}
.git:hover
  {
  @include tools-sprite('git');
}

.foundation
  {
  @include tools-sprite('foundation-over');
}
.foundation:hover
  {
  @include tools-sprite('foundation');
}

.twig
  {
  @include tools-sprite('twig-over');
}
.twig:hover
  {
  @include tools-sprite('twig');
}

.doctrine
  {
  @include tools-sprite('doctrine-over');
}
.doctrine:hover
  {
  @include tools-sprite('doctrine');
}

.capifony
  {
  @include tools-sprite('capifony-over');
}
.capifony:hover
  {
  @include tools-sprite('capifony');
}

.zendesk
  {
  @include tools-sprite('zendesk-over');
}
.zendesk:hover
  {
  @include tools-sprite('zendesk');
}

.pyro
  {
  @include tools-sprite('pyro-over');
}
.pyro:hover
  {
  @include tools-sprite('pyro');
}

.symfony
  {
  @include tools-sprite('symfony-over');
}
.symfony:hover
  {
  @include tools-sprite('symfony');
}