<div class="border no-margin group">

    <div class="small-12 columns border--bottom is--normal--header">

        <h3 class="no-margin headers"><span>Who We Have Worked With</span></h3>

    </div>

</div>

<div class="row island">
    <div class="small-12 large-11 small-centered columns">

        <ul class="small-block-grid-2 large-block-grid-5">
            <li class="client--item"><a href="http://escapology.abercrombiekent.co.uk" title="Abercrombie &amp; Kent" class="client--item aandk" target="_blank"></a></li>
            <li class="client--item"><a href="http://endsleigh.co.uk" title="Endsleigh" class="client--item endsleigh" target="_blank"></a></li>
            <li class="client--item"><a href="http://moneyclothing.com" title="Money Clothing" class="client--item money" target="_blank"></a></li>
            <li class="client--item"><a href="http://rolls-royce.com/careers/" title="Rolls Royce" class="client--item rolls" target="_blank"></a></li>
            <li class="client--item"><a href="http://thesounddoctor.org" title="The Sound Doctor" class="client--item sd" target="_blank"></a></li>
            <li class="client--item"><a href="http://jobs.astrazeneca.com" title="Astrazeneca" class="client--item az" target="_blank"></a></li>
            <li class="client--item"><a href="http://deloitte.com" title="Deloitte" class="client--item deloitte" target="_blank"></a></li>
            <li class="client--item"><a href="http://www.loreal.co.uk" title="Loreal" class="client--item loreal" target="_blank"></a></li>
            <li class="client--item"><a href="http://molsoncoors.com" title="Coors" class="client--item coors" target="_blank"></a></li>
            <li class="client--item"><a href="http://prudential.co.uk" title="Prudential" class="client--item pru" target="_blank"></a></li>
        </ul>

    </div>
</div>