<div class="footer">

    <div class="row">

        <div class="small-12 large-2 columns footer--picture">
        {{ theme:image file="me.png" alt="Hi!"}}
        </div>

        <div class="small-12 large-10 columns">

            <div class="footer--comment group">

                <div class="footer--comment__arrow"></div>

                <div class="small-12 small-centered columns">
                    {{ widgets:area slug="footer-message" }}

                    <p class="footer--signature no-margin">Phillip Davies</p>
                </div>


            </div>

        </div>

    </div>

    <div class="row no-margin">

        <div class="small-12 large-4 columns">
            <h4 class="footer--location">Based&nbsp;&nbsp;&nbsp;in<br/>Cheltenham<br/>England</h4>
        </div>

        <div class="small-12 large-8 columns footer--contact">
            <h4 class="logo--footer"><a href="{{ url:site }}" title="Back to the Homepage">WRENCH</a></h4>
            <p>
                Pittville House, 2 Wellington Road, Cheltenham, Glos, GL52 2AE<br/>
                (0) +44 117 318 2224
            </p>
            <p>
                e.&nbsp;<a href="mailto:hello@digitalwrench.co.uk" title="Contact Us">hello@digitalwrench.co.uk</a>
            </p>
            <p>Registered in England and Wales | Company Number 08766424</p>

        </div>



    </div>

</div>