<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>{{ template:title }}</title>
{{ template:metadata }}

<meta name="viewport" content="width=device-width">


<!--[if !IE]><!-->
<link rel="stylesheet" type="text/css" href="/addons/default/themes/wrench/css/app.css" />
<!--<![endif]-->

<!--[if gte IE 9]>
<link rel="stylesheet" type="text/css" href="/addons/default/themes/wrench/css/app.css" />
<![endif]-->

<!--[if lte IE 8]>
<link rel="stylesheet" type="text/css" href="/addons/default/themes/wrench/css/ie.css" />
<![endif]-->

{{ asset:js file="vendor/custom.modernizr.js" file_min="vendor/custom.modernizr.min.js" group="modernizr" }}
{{ asset:render_js group="modernizr" }}