
<div class="header menu--fixed">

    <nav>
        <div class="row no-margin">
            <div class="small-12 columns group menu--holder">

                <h1 class="logo--menu is-floated-left"><a href="{{ url:site }}" title="Back to the Homepage">Wrench</a></h1>

                <div class="is-floated-left">
                    <ul class="menu--header no-margin">
                            {{ navigation:links group="header" }}
                            <li class="menu--header__links"><a href="{{ url }}" class="{{ class }}" title="{{ title }}">{{ title }}</a>
                                {{ if children }}
                                <ul>
                                    {{ children }}
                                    <li><a href="{{ url }}" class="{{ class }} menu--header__links" title="{{ title }}">{{ title }}</a></li>
                                    {{ /children }}
                                </ul>
                                {{ endif }}
                            </li>
                            {{ /navigation:links }}
                    </ul>
                </div>

                <div class="menu--contact is-floated-right">
                    <span class="hide-for-small">e.&nbsp;<a href="mailto:hello@digitalwrench.co.uk" title="Contact Us">hello@digitalwrench.co.uk</a></span>
                    <span class="show-for-small">t.&nbsp;(0)&nbsp;+44&nbsp;7581&nbsp;736&nbsp;640</span>
                </div>

            </div>

        </div>
    </nav>

</div>