<div class="border no-margin group">

    <div class="small-12 columns border--bottom is--normal--header">

        <h3 class="no-margin headers">Our Services</h3>

    </div>

</div>

<div class="row island">
    <div class="small-11 small-centered columns">

        <ul class="services">
            <li class="services--holder"><span>RESPONSIVE DESIGN</span></li>
            <li class="services--holder"><span>CMS WEBSITES</span></li>
            <li class="services--holder"><span>FACEBOOK APPLICATIONS</span></li>
            <li class="services--holder"><span>ANALYTICS CONFIGURATION</span></li>
            <li class="services--holder"><span>PROJECT SPECIFICATION</span></li>
            <li class="services--holder"><span>SOCIAL INTEGRATION</span></li>
            <li class="services--holder"><span>JAVASCRIPT APPLICATIONS</span></li>
            <li class="services--holder"><span>BROCHURE WEBSITES</span></li>
            <li class="services--holder"><span>CONSULTATION</span></li>
        </ul>

    </div>
</div>

<div class="row island">
    <div class="small-12 large-10 small-centered columns service--text">
        <p>Not sure if we can provide your required service or prefer to have a chat rather than email?<br/>
            Feel free to contact us via phone, Skype or twitter.</p>

            <p><span>(0) +44 7581 736 640 | <a href="skype:digitalwrench?add" title="Add us to your Skype contacts">digitalwrench</a> | <a href="https://twitter.com/intent/user?screen_name=HelloWrench" title="Add us on Twitter">@HelloWrench</a></span></p>
    </div>
</div>