<div class="skills-bar">

    <div class="row no-margin">
          <div class="small-11 small-centered columns">

              <div class="skills-bar--bar"><span class="skills-bar--span is--80-percent is--0-percent">oophp</span></div>
              <div class="skills-bar--bar"><span class="skills-bar--span is--100-percent is--0-percent">HTML5</span></div>
              <div class="skills-bar--bar"><span class="skills-bar--span is--100-percent is--0-percent">CSS3</span></div>
              <div class="skills-bar--bar"><span class="skills-bar--span is--80-percent is--0-percent">JS</span></div>
              <div class="skills-bar--bar"><span class="skills-bar--span is--100-percent is--0-percent">Planning</span></div>
              <div class="skills-bar--bar"><span class="skills-bar--span is--20-percent is--0-percent">Lifting Weights</span></div>

          </div>
    </div>

</div>