<div class="splash no-margin">
    <div class="row">

        <div class="small-12 columns small-centered splash--homepage">
            <h2 class="logo--splash is--blurred"><a href="{{ url:site }}" title="Back to the Homepage">Wrench</a></h2>
        </div>

    </div>
</div>
<div class="ie">
    <div class="ie--warning">

        <p>Hi! It looks like you are using IE7 or earlier to view this site so it probably doesn't look very nice!<br/>
            IE7's market share has dropped below 1% in recent times so by default we do not support IE7 due to the browser's bugs and limitations.</p>
        <p>If your business does require an application or website to work in IE7 please do let us know as we have plenty of experience working with IE6 and IE7 and<br/>
            we can help advise you on the best solution moving forward.</p>

    </div>
</div>


