<div class="testimonial island">

    <div class="row no-margin">
        <div class="small-10 columns small-centered testimonial--item">

            <div class="testimonial--quote">
                <p>Working with Wrench is a delight.<br/> Their excellent planning and clear communication makes a difficult project painless with a personal touch.</p>
            </div>
            <div class="testimonial--cite">Dave Ashenden  - Subversive UX</div>

        </div>
    </div>

</div>
